img {
  height: 80px;
  width: 60px;
}
.skill-tech {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.skill-title {
  font-size: 1.4rem;
  font-weight: 600;
}
.skill-title:hover {
  color: #13ab67;
}
.skill-content:hover {
  color: #13ab67;
}
.resume-page {
  cursor: pointer;
  border: 2px solid #13ab67;
  height: 4rem;
  width: 70vw;
  display: grid;
  place-items: center;
  background-color: #13ab67;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 7px;
}
.skill-parent {
  width: 80vw;
  margin: 2rem 0;
  display: grid;
  place-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}
.skill-container {
  background-color: rgb(4, 37, 4);
  display: grid;
  color: white;
  padding: 2rem 0;
  place-items: center;
  min-height: 100vh;
}
.skill-icon {
  font-size: 20px;
  position: relative;
  top: 4px;
  left: 5px;
}
@media (min-width: 760px) {
  .skill-title {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .skill-parent {
    font-size: 1rem;
    font-weight: 400;
  }
}
